h1 {
    text-align: center;
    font-family: monospace;
    font-size: 4.3rem;
    /* font-weight: 300; */
    line-height: 1.6;
  }

  html, body {
    background-color: #c9b6ac;
    color: #54504f;
  }
  .addInput::placeholder{
    color: lightgrey;
  }
  .addInput{
    color: #fff;
  }
  .todo-grid{
    display: block;
    text-align: center;
  }
  #todo-list {
    width: 1000px;
    margin: 60px auto;
  }
  form, .todo {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #ac998f;
    height: 4rem;
  }
  form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
    background: rgb(62, 138, 151);
    border: none;
  }
  input[type='text'] {
    font-size: 18px;
  }
  input[type="checkbox"] {
    accent-color: rgb(62, 138, 151);
    }
  .submit {
    font-weight: bold;
  }
  .todo {
    display: inline-flex;
    flex-direction: column;
    background-color: #94a89a;
    /* font-family: "Neucha", cursive; */
    font-size: 2.5rem;
    line-height: 80px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 8px 5px #9c9696;
    width: 16rem;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #ac998f;
    color: aliceblue;
  }
  
  button {
    font-size: 16px;
    background-color: rgb(62, 138, 151);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #54504f;
  }
  button:active {
    background-color: #54504f;
  }
  button:focus {
    outline: 0;
  }
  .todo input[type="checkbox"] {
    transform: scale(1.5) translateY(1px);
    /* margin: 0 0 16px 0; */
    cursor: pointer;
    margin-bottom: 10px;
  }
  .todo-text input {
    padding: 4px;
  }
  .todo-text {
    font-size: 18px;
    line-height: 24px;
    /* margin-bottom: 16px; */
    display: block;
text-align: left;    
height: 6rem;
overflow: scroll;
  }
  .todo-text .inputText {
    height: 4rem;
    width: 100%;
    display: block;
  }
  .subtext {
    font-size: 24px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .todo-completed {
    display: flex;
    margin: 10px 0;
  }
  .todo-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .todo-actions button {
    font-size: 16px;
    background-color: rgb(62, 138, 151);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
